<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sweng.swenggolf">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="ch.epfl.sweng.swenggolf.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ch.epfl.sweng.swenggolf.SignInActivity" />
        <activity android:name="ch.epfl.sweng.swenggolf.LogOutActivity"></activity>


        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile_activity_name"
            android:parentActivityName="ch.epfl.sweng.swenggolf.MainActivity">

        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/edit_profile_activity_name"
            android:parentActivityName=".ProfileActivity" />
            

        <activity android:name="ch.epfl.sweng.swenggolf.CreateOfferActivity" />
        <activity android:name="ch.epfl.sweng.swenggolf.ListOfferActivity" />
        <activity android:name="ch.epfl.sweng.swenggolf.ShowOfferActivity"></activity>
    </application>

</manifest>
